/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* No:0 ===========================================================
		>>> common style <<<
============================================================ */
*{ margin:0; padding:0; box-sizing:border-box; }

body{ font-family: 'Poppins', sans-serif; font-size:14px; color:#8c8c8c; }
a{ text-decoration:none; transition:0.5s;}
a:hover{ text-decoration:none;}
ul{ list-style:none;}
h1,
h2,
h3,
h4,
h5,
h6{ color:#444;}

.d-none{ display:none;}
.btn-1{ display:inline-block; padding:15px 30px; background:#4caf50; border-radius:30px; text-transform:uppercase; color:#fff; border:1px solid #aeaeae; transition:0.8s; margin:25px 15px; }
.btn-1:hover{ color:#4caf50; background:#fff; border:1px solid #4caf50; }

.btn-2{display:inline-block; padding:15px 30px; color:#4caf50; background:#fff;border-radius:30px; text-transform:uppercase; border:1px solid #4caf50; transition:0.8s; margin:25px 15px;}
.btn-2:hover{ color:#fff; background:#4caf50; border:1px solid #aeaeae; }

.section-title{  }
.section-title h5{ text-transform:uppercase; font-weight:400; font-size:10px; color:#808080;  }
.section-title h2{ text-transform:capitalize; font-weight:500; font-size:30px; color:#444; }
.section-title h2 span{ color:#8bc34a; }


.slicknav_menu { display:none; }



/* No:1 ===========================================================
		>>>header-area start<<<
============================================================ */

/*-- header top --*/ 
.header-area{ width:100%; overflow:hidden;}
.header-top{ background:#343434; }
.header-top .inner-content{ display:flex; justify-content:space-between;}

.header-top address ul,
.header-top .social-links ul{ display:flex; list-style:none; margin:0; padding:0; }

.header-top address ul li,
.header-top .social-links ul li{ padding-top:14px; margin-left:22px; font-size:13px; color:#6b6b6b; }



.header-top .social-links ul li a{ color:#7d7d7d; font-size:14px; }
.header-top .social-links ul li a i{ transition:0.5s  }
.header-top .social-links ul li a:hover{ color:#fff;  }
.header-top .social-links ul li a:hover i{ transform:rotate(360deg);  }

/*-- header bottom --*/ 
.header-bottom { width:100%; overflow:hidden;}
.header-bottom  .logo-area{ width:100%; overflow:hidden; margin:40px 0;}
.header-bottom  .logo-area img{ max-width:100%; height:auto;}

.header-bottom  .main-menu{ text-align:right; }
.header-bottom  .main-menu ul{ margin:0; padding:0; }
.header-bottom  .main-menu ul li{ display:inline-block; margin:45px 20px; }
.header-bottom  .main-menu ul li a{ display:inline-block; color:#444444; font-size:13px; font-weight:600; text-transform:uppercase; }
.header-bottom  .main-menu ul li a:hover,
.header-bottom  .main-menu .active a{ color:#8bc34a;  }

.header-bottom  .search-box{ text-align:right;}
.header-bottom  .search-box i{ font-size:13px; margin:45px 0; float:right; display:inline-block; cursor:pointer;}
.header-bottom  .search-box:hover{ color:#8bc34a;  }



/* No:2 ===========================================================
		>>>slider-area start<<<
============================================================ */

.sliser-area{width:100%; overflow:hidden;}
.slider-item { width:100%; overflow:hidden; position:relative; background:red;}
.slider-item:after{
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0, 0.3);
	z-index:1;
 }
 
 .bx-wrapper { margin-bottom:0;}
 .bx-wrapper .bx-pager.bx-default-pager a {
  background: #414141;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius:0;
  border:2px solid #4caf50;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 25px;
}

.slider-item .slider-img{width:100%; overflow:hidden;}
.slider-item .slider-img img{max-width:100%; height:auto;}

.slider-item .slider-text{ position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); text-align:center; color:#fff; z-index:2; }
.slider-item .slider-text h3{ color:#fff; font-size:24px; font-weight:300; margin-bottom:5px;}
.slider-item .slider-text h1{ color:#fff; font-size:60px; text-transform:uppercase; font-weight:700;margin:0; margin-bottom:15px;}
.slider-item .slider-text p{ font-size:16px;  }


.slider-item .slider-btn-1{ display:inline-block; padding:15px 30px; background:#4caf50; border-radius:30px; text-transform:uppercase; color:#fff; border:1px solid #aeaeae; transition:0.8s; margin:25px 15px; }
.slider-item .slider-btn-1:hover{ color:#4caf50; background:#fff; border:1px solid #4caf50; }

.slider-item .slider-btn-2{display:inline-block; padding:15px 30px; color:#4caf50; background:#fff;border-radius:30px; text-transform:uppercase; border:1px solid #4caf50; transition:0.8s; margin:25px 15px;}
.slider-item .slider-btn-2:hover{ color:#fff; background:#4caf50; border:1px solid #aeaeae; }



/* No:3 ===========================================================
		>>>about-area start<<<
============================================================ */

/* .about-area{ position:relative; bottom:110px;} */
.about-img{position:relative; bottom:110px;  background:#2C3F7F; z-index:9;}
.about-img img{ position:relative; top:40px; left:40px; max-width:100%; height:auto;}

.about-content{ position:relative; top:50%; transform:translateY(-50%); }
.about-content .main-content{   padding-left: 40px; padding-bottom: 20px; }


.about-content .about-text{ margin:35px 0; }

.about-btn .btn-2{margin:0; padding:0; padding:13px 45px;}


/* No:4 ===========================================================
		>>>service-area start<<<
============================================================ */
.service-area{ background:#f9f9f9; padding-top:50px; margin-top:-70px; }
.service-text{ margin-top:25px; margin-bottom:40px; }

.service-area .service-item{ margin-bottom:30px;}
.service-area .service-item ion-icon{ font-size:40px; margin-bottom:15px; color:#444; }
.service-area .service-item h3{ position:relative; font-size:18px; font-weight:400; text-transform:capitalize; padding-bottom:20px; }
.service-area .service-item h3:after{ content:""; position:absolute; width:27px; height:1px; background:#7f7f7f; bottom:0; left:0;  }
.service-area .service-item p{ margin-top:10px;  }

.service-area .service-img img{max-width:125%; height:auto; margin-bottom:-150px; }



/* No:5 ===========================================================
		>>>protfulio-area start<<<
============================================================ */
.protfulio-area{}
.protfulio-area .section-title{ text-align:center; margin:60px 0; }
.protfulio-area .section-title h2{ position:relative; padding-bottom:20px;}
.protfulio-area .section-title h2:before{ content:""; position:absolute; width:60px; height:1px; background:#e6e6e6; bottom:1px; left:50%; transform:translateX(-50%); }
.protfulio-area .section-title h2:after{ content:""; position:absolute; width:40px; height:3px; background:#8bc34a; bottom:0; left:50%; transform:translateX(-50%);}

.protfulio-area .gelary-manu ul{ display:flex; justify-content:center; margin:0; padding:0; }
.protfulio-area .gelary-manu ul li{ position:relative; padding:8px; color:#444; font-size:13px; cursor:pointer;}
.protfulio-area .gelary-manu ul li.mixitup-control-active{ color:#8bc34a; }
.protfulio-area .gelary-manu ul li:after{ content:""; position:absolute; width:1px; height:12px; background:#444; right:0; top:50%; transform:translateY(-50%); }
.protfulio-area .gelary-manu ul li:last-child:after{ display:none; }

.protfulio-area .gelary{ margin-top:30px; }
.protfulio-area .gelary .col-md-4{ margin:0; padding:0; }
.protfulio-area .gelary-item{ position:relative; margin:3px; }
.protfulio-area .gelary-img{  }
.protfulio-area .gelary-img img{ max-width:100%; display:block; width:100%; height:auto; }
.protfulio-area  .gelary-hover{ position:absolute; top:0; left:0; right:0; bottom:0; background: rgba(76,173,79,.9); transform:scale(0); transition:0.7s; }
.protfulio-area .gelary-item:hover .gelary-hover{ transform:scale(1); }
.protfulio-area .gelary-hover a{ display:inline-block; font-size:60px; color:#fff;}
.protfulio-area .gelary-hover a{ display:inline-block; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); }



/* No:6 ===========================================================
		>>>tabs-area start<<<
============================================================ */

.tabs-area{ margin-top:95px; }
.tabs-area .tabs-list{ border-top:2px solid #ededed;  border-bottom:2px solid #ededed; }
.tabs-area .tabs-list ul{ display:flex; margin:0; padding:0; text-align:center; }
.tabs-area .tabs-list ul li{ flex-grow:1; }
.tabs-area .tabs-list ul li.active{  background:#f7f7f7; border-bottom:3px solid #8bc34a; }

.tabs-area .tabs-list ul li a{ display:block; font-size:18px; color:#444444; padding:40px 0; }
.tabs-area .tabs-list ul li a i{ margin-right:15px;  }

.tabs-area .tab-item { display:none; padding:95px 0; background:#f7f7f7;  }
.tabs-area .tab-item.active{ display:block; }
.tabs-area .tab-item .tab-text h3{font-size:30px; font-weight:600; margin-bottom:25px; text-transform:capitalize;}
.tabs-area .tab-item .tab-text p{ margin-bottom:30px; }
.tabs-area .tab-item .tab-img img{ max-width:100%; height:auto; }
	

/* No:7 ===========================================================
		>>>big-btn-area start<<<
============================================================ */

.big-img-area{ position:relative; background:url('images/big-bg.jpg'); background-size:cover; text-align:center; padding:80px 0; border-bottom:6px solid #8bc34a; margin-bottom:60px; }
.big-img-area:before{ content:""; position:absolute; top:0; bottom:0; left:0; right:0; background: rgba(0,0,0,0.3);}
.big-img-area h2{ color:red; font-size:30px; text-transform:uppercase; z-index:9999;  }
.big-img-area .big-btn a{ position:absolute; bottom:0; left:50%; transform:translate(-50%,50%); display:inline-block; background:#8bc34a; padding:15px 90px; border-radius:50px; margin:0; z-index:9; }
.big-img-area .big-btn a:hover{ background:#fff;}




/* No:8 ===========================================================
		>>>team-member-area-area start<<<
============================================================ */
.team-member-area{  }
.team-member-area .section-title{ position:relative;  padding-bottom:20px; margin:70px 0; }
.team-member-area .section-title h2:before{ content:""; position:absolute; width:60px; height:1px; background:#e6e6e6; bottom:1px; left:50%; transform:translateX(-50%); }
.team-member-area .section-title h2:after{ content:""; position:absolute; width:40px; height:3px; background:#8bc34a; bottom:0; left:50%; transform:translateX(-50%);}

.team-member-area .mem-img img{ max-width:100%; height:auto;}
.team-member-area .member{ position:relative; overflow:hidden;}
.team-member-area .mem-detals-hover{ position:absolute; background: rgba(0,0,0,.7); top:100%; left:0; right:0; bottom:0; text-align:center; color:#000; transition: .7s;}
.member:hover .mem-detals-hover{top:0;}
.mem-det{ position:absolute; top:50%; }
.member:hover .mem-det{ transform:translateY(-50%); }
.team-member-area .mem-det h4{ font-size:21px; color:#fff; }
.team-member-area .mem-det h6{ font-size:13px; color:#fff; margin-top:10px; margin-bottom:20px;  }
.team-member-area .mem-det p{ color:#fff; }

.team-member-area .mem-social-midea{ position:absolute; right:0; left:0; bottom:-58px; background:#8bc34a; transition:0.7s}
.member:hover .mem-social-midea{ bottom:0;}
.team-member-area .mem-social-midea ul{ display:flex; justify-content:center; margin:0; padding:0; }
.team-member-area .mem-social-midea ul li a{ display:inline-block; padding:18px 5px; color:#fff; }
.mem-social-midea ul li a i{ transition:0.4s;}
.mem-social-midea ul li a:hover i{ transform:rotate(360deg); color:#e15e5e; }





/* No:9 ===========================================================
		>>>blog-area start<<<
============================================================ */

.blog-area{ margin-bottom:100px;}
.blog-area .section-title{margin:75px 0;}
.blog-area .section-title{ position:relative;  padding-bottom:20px; margin:70px 0; }
.blog-area .section-title h2:before{ content:""; position:absolute; width:60px; height:1px; background:#e6e6e6; bottom:1px; left:50%; transform:translateX(-50%); }
.blog-area .section-title h2:after{ content:""; position:absolute; width:40px; height:3px; background:#8bc34a; bottom:0; left:50%; transform:translateX(-50%);}

.blog-area .blog-img{ position:relative; }
.blog-area .blog-img img{ max-width:100%; height:auto; }
.blog-area .date-month{ position:absolute; bottom:18px; left:18px; background:#8bc34a; opacity:0.9; padding:20px 10px; color:#fff; box-shadow: 15px 10px 2px #6f9c3b; } 
.blog-area .date{ font-size:24px; }
.blog-area .month{ font-size:13px; }

.blog-area .blog-title{ margin:35px 0 30px 30px;  }
.blog-area .blog-title h4{ font-size:20px; color:#444; margin-bottom:15px; }
.blog-area .blog-title h4 a{color:#444;}
.blog-area .blog-title h6 { font-size:12px; color:#444;}
.blog-area .blog-title h6  a{color:#8bc34a; margin-left:8px;}

.blog-area .blog-content{ margin:35px 0 30px 30px;  }

.blog-area .blog-item-right .blog-title{ margin:0; margin-bottom:25px; padding:10px 0 15px 15px; background:#e6e6e6;  }
.blog-area .blog-item-right .blog-title h4{ font-size:14px; margin-bottom:10px; }
.blog-area .blog-item-right .blog-title h6{ font-size:11px; }



/* No:10 ===========================================================
		>>>brand-area start<<<
============================================================ */

.brand-area{ background:#f9f9f9; padding:70px 0; }
.brand-area .brand-item{ text-align:center;}
.brand-area .brand-item img{ display:inline-block; width:auto;}


/* No:11 ===========================================================
		>>>map-area start<<<
============================================================ */
.map-area .section-title{ margin-bottom:40px; }
.map-area .map{height:400px; margin-bottom:30px;}



/* No:12 ===========================================================
		>>>footer-area start<<<
============================================================ */

.footer-area .footer{ background:#262626; }

.footer .widget{ padding-top:70px;}
.footer .widget-one { position:relative;  margin:0; padding:110px 0; background:#303030; }
.footer .widget-one:before { content:""; position:absolute; top:0; bottom:0; left:-10000px; right:100%; background:#303030; }
.widget .widget-logo{ padding-bottom:30px; }
.widget .widget-social-link{}
.widget .widget-social-link ul{ display:flex; margin:0; padding:0;}
.widget .widget-social-link ul li{  padding:5px;}
.widget .widget-social-link ul li a{ display:inline-block; color:#6b6b6b;  transition:0.5s;}
.widget .widget-social-link ul li a:hover  i{transform:rotate(360deg); color:#fff;}
.widget .widget-social-link ul li a i{ display:inline-block; font-size:16px; transition:0.5s;}

.widget .widget-title h4{font-size:18px; font-weight:500; color:#6b6b6b; margin-bottom:25px;}
.widget .widget-content p{ margin:0; color:#6b6b6b; font-size:14px; margin-bottom:3px;}

.widget .tweet-feed ul{ margin:0; padding:0;  }
.widget .tweet-feed ul li{ margin-bottom:30px; }
.widget .tweet-feed ul li i{ font-size:14px; color:#6b6b6b; float:left; margin-top: 5px; }
.widget .tweet-feed ul li a{ display:block; color:#6b6b6b; margin-left: 30px; }
.widget .tweet-feed ul li a div{ font-size:10px; margin-top:5px; }

.widget .news-later p{margin-bottom:25px;}
.widget .subscribe{position:relative; }
.widget .subscribe:after{ content:"\f3fe"; font-family:"Font Awesome 5 brands"; font-weight:700; position:absolute; top: 7px; right: 25px; }
.widget .subscribe input[type="email"]{ display:block; background:#262626; border:1px solid #565656; height:35px; width:100%; margin-bottom:10px; padding:0 20px; border-radius:30px; color:#6b6b6b; padding-right:50px;  }
.widget .subscribe input[type="email"]:focus{outline:0;}
.widget .subscribe input[type="submit"]{ position:absolute; border:none; top:2px; right:13px; width:35px; height:30px; background:transparent; z-index:99; font-size:0;   }



.copyright-area{  text-align:center; background:#000; color:#6b6b6b; padding:20px 0; }
.copyright-area p{ margin:0; }
.copyright-area a{ color:#8bc34a; }


/* scroll to top */

#scrollUp {
	position:relative;
	background-image:url('images/top.png');
    bottom: 20px;
    right: 25px;
    width: 40px;    /* Width of image */
    height: 40px;   /* Height of image */
	text-indent:-99999px;
	cursor:pointer;
	
}
#scrollUp:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:#8bc34a;
	opacity:0.7;
	border-radius:50%;
	z-index:999;
	color:#fff;
}






	